<template name="shows">
<div class="image_grid">
    <img class="image" src="img/tv.png">
    <p>Monis show 1</p>
    <p>0 users are currently interested</p>
</div>

<div class="image_grid">
    <img class="image" src="img/tv.png">
    <p>Monis show 2</p>
    <p>0 users are currently interested</p>
</div>

<div class="image_grid">
    <img class="image" src="img/tv.png">
    <p>Monis show 3</p>
    <p>0 users are currently interested</p>
</div>

<div class="image_grid">
    <img class="image" src="img/tv.png">
    <p>Monis show 4</p>
    <p>0 users are currently interested</p>
</div>

<div class="image_grid">
    <img class="image" src="img/tv.png">
    <p>Monis show 5</p>
    <p>0 users are currently interested</p>
</div>

<div class="image_grid">
    <img class="image" src="img/tv.png">
    <p>Monis show 6</p>
    <p>0 users are currently interested</p>
</div>

<div class="image_grid">
    <img class="image" src="img/tv.png">
    <p>Monis show 7</p>
    <p>0 users are currently interested</p>
</div>

<div class="image_grid">
    <img class="image" src="img/tv.png">
    <p>Monis show 8</p>
    <p>0 users are currently interested</p>
</div>

<div class="image_grid">
    <img class="image" src="img/tv.png">
    <p>Monis show 9</p>
    <p>0 users are currently interested</p>
</div>

<div class="image_grid">
    <img class="image" src="img/tv.png">
    <p>Monis show 10</p>
    <p>0 users are currently interested</p>
</div>
</template>
